body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#app, footer, header {
    margin: auto;
    padding: .5%;
    width: 90vw;

    @media (min-width: 601px) {
        width: 50vw;
    }

    @media (min-width: 801px) {}

    @media (orientation: landscape) {}
}

#app {
    border: 1px solid black;
    border-radius: 2.5%;
    display: flex;
    flex-direction: column;
    height: 90vw;

    &:empty {
        display: none;
    }

    @media (min-width: 601px) {
        height: 50vw;
        width: 50vw;
    }

    @media (min-width: 801px) {}

    @media (orientation: landscape) {}

    .row {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
    }

    .column {
        display: flex;
        flex-grow: 1;
        margin: 1%;
    }

    .switch {
        background-color: #fff;
        border: 1px solid black;
        border-radius: 5%;
        display: flex;
        flex-grow: 1;

        &.active {
            background-color: skyblue;
        }
    }
}
